<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=yes">
<title>{:C('WEB_SITE_TITLE')}</title>
<meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}"/>
<meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}"/>
<meta name="renderer" content="webkit">
<link rel="stylesheet" type="text/css" href="__CSS__/base.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/animate.min.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/owl.carousel.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/style.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/responsive.css"/>
<script src="__JS__/jquery-1.11.0.min.js"></script>
<script src="__JS__/wow.min_1.js"></script>
<script src="__JS__/owl.carousel.min.js"></script>
<script src="__JS__/page.js"></script>
<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}
