<extend name="Base/common"/>

<block name="body">



<div class="z_banner support_z_banner">
	<div class="rowFluid">
		<div class="span12">
			<div class="container">
				<h3 class="z_banner_title">新闻中心</h3>
				<div class="z_banner_text">这里有您想知道的最新资讯与动态</div>
			</div>
			<ul class="platform_advantage_bg_z">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
</div>
<div class="support_type">
	<div class="rowFluid">
		<div class="span12">
			<div class="container">
				<div class="support_type_content">
					<div class="kzf-mod-center">
						<div class="span2 col-xs-4">
							<a href="/a/xinwenzixun/pingtaidongtai/"
								class="support_type_list normal" title="平台动态">平台动态</a>
						</div>
						<div class="span2 col-xs-4">
							<a href="/a/xinwenzixun/xingyexinwen/"
								class="support_type_list normal" title="行业新闻">行业新闻</a>
						</div>
						<div class="span2 col-xs-4">
							<a href="/a/xinwenzixun/bangzhuzhongxin/"
								class="support_type_list normal" title="帮助中心">帮助中心</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="kzf-mod-new-container">
	<div class="rowFluid">
		<div class="span12">
			<div class="container" id="newslist">
			<volist name="list" id="data">
				<div class="rowFluid">
					<a href="/a/xinwenzixun/bangzhuzhongxin/21.html">
						<div class="kzf-mod-new-li">
							<div class="span2">
								<div class="kzf-mod-new-time-box">
									<div class="kzf-mod-new-time-date">
										<span>10</span>/<span>01</span>
									</div>
									<div class="kzf-mod-new-time-year">{$data.create_time|date='Y',###}</div>
								</div>
							</div>
							<div class="span10">
								<div class="kzf-mod-new-box">
									<div class="kzf-mod-new-title">{$data.title}</div>
									<div class="kzf-mod-new-text">{$data.description}</div>
								</div>
							</div>
						</div>
					</a>
				</div>
		</volist>
			</div>
			<div class="kzf-mod-new-btn-more">
			<article:page cate="$category['id']" listrow="$category['list_row']" />
				<a>首页</a> <a>1</a> <a href='list_10_2.html'>2</a> <a
					href='list_10_2.html'>下一页</a> <a href='list_10_2.html'>末页</a>
			</div>
		</div>
	</div>
</div>



<div class="span9">
        <!-- Contents
        ================================================== -->
        <section id="contents">

			<volist name="list" id="data">
				<div class="">
					<h3 class="ellipsis"><a href="{:U('Article/detail?id='.$data['id'])}">{$data.title}</a></h3>
				</div>
				<div>
					<p class="lead">{$data.description}</p>
				</div>
				<div>
					<span><a href="{:U('Article/detail?id='.$data['id'])}">查看全文</a></span>
					<span class="pull-right">
						<span class="author">{$data.uid|get_username}</span>&nbsp;&nbsp;
						<span>发表于 {$data.create_time|date='Y-m-d H:i:s',###}</span>
						<span>阅读({$data.view})</span>&nbsp;&nbsp;
                    </span>
				</div>
				<hr/>
	        </volist>

            <div class="onethink pagination pagination-right pagination-large">
                <article:page cate="$category['id']" listrow="$category['list_row']" />
            </div>
        </section>
      </div>
</block>