<extend name="Base/common"/>

<block name="body">



<div class="z_banner support_z_banner">
	<div class="rowFluid">
		<div class="span12">
			<div class="container">
				<h3 class="z_banner_title">新闻中心</h3>
				<div class="z_banner_text">这里有您想知道的最新资讯与动态</div>
			</div>
			<ul class="platform_advantage_bg_z">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
</div>
<div class="support_type">
	<div class="rowFluid">
		<div class="span12">
			<div class="container">
				<div class="support_type_content">
					<div class="kzf-mod-center">
		  				{:W('Category/lists', array($category, ACTION_NAME == 'index'))} 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="kzf-mod-new-container">
	<div class="rowFluid">
		<div class="span12">
			<div class="container" id="newslist">
			<volist name="list" id="data">
				<div class="rowFluid">
					<a href="{:U('Article/detail',array('id'=>$data['id']))}">
						<div class="kzf-mod-new-li">
							<div class="span2">
								<div class="kzf-mod-new-time-box">
									<div class="kzf-mod-new-time-date">
										<span>{$data.create_time|date='m',###}</span>/<span>{$data.create_time|date='d',###}</span>
									</div>
									<div class="kzf-mod-new-time-year">{$data.create_time|date='Y',###}</div>
								</div>
							</div>
							<div class="span10">
								<div class="kzf-mod-new-box">
									<div class="kzf-mod-new-title">{$data.title}</div>
									<div class="kzf-mod-new-text">{$data.description}</div>
								</div>
							</div>
						</div>
					</a>
				</div>
		</volist>
			</div>
			<div class="kzf-mod-new-btn-more">
			<article:page cate="$category['id']" listrow="$category['list_row']" />
				<a>首页</a> <a>1</a> <a href='list_10_2.html'>2</a> <a
					href='list_10_2.html'>下一页</a> <a href='list_10_2.html'>末页</a>
			</div>
		</div>
	</div>
</div>

</block>